<div *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="card card-fluid">
      <div class="card-body">
        <span class="form-title">Event Types Available During Event Creation</span>
        <form (ngSubmit)="addNewEventType()" novalidate>
          <div [formGroup]="eventTypesForm" class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" formControlName="eventTypeName" class="form-control" placeholder="Type Name*" required>
              </div>
              <div class="col-7">
                <input type="text" formControlName="eventTypeDescription" class="form-control" placeholder="Description For Event Type*" required>
              </div>
              <div class="col-1">
                <input value="" class="form-control"
                       [style.background]="color1"
                       [cpAlphaChannel]="'always'"
                       [cpOutputFormat]="'hex'"
                       [cpSaveClickOutside]="'true'"
                       [(colorPicker)]="color1"/>
              </div>
              <div class="col-1">
                <input  class="form-control"
                        [style.background]="color2"
                        [cpAlphaChannel]="'always'"
                        [cpOutputFormat]="'hex'"
                        [cpSaveClickOutside]="'true'"
                        [(colorPicker)]="color2"/>
              </div>
              <div class="col-1">
                <button [disabled]="!eventTypesForm.valid" type="submit" class="btn btn-secondary btn-md btn-box-shadow" value="submit">
                  <div style="text-align:center">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>

        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="table-responsive table-y-scroll table-x-scroll">
            <table class="table table-hover" style="max-width: 750px;">
              <thead class="thead-light">
              <tr>
                <th>#</th>
                <th style="width: 150px;">Event Type</th>
                <th style="width: 300px; white-space: nowrap;">Event Type Description</th>
                <th style="width: 150px;">Primary Color</th>
                <th style="width: 150px;">Secondary Color</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let type of eventTypes">
                <th>{{type.event_type_id}}</th>
                <td>{{type.event_type_name}}</td>
                <td style="white-space:pre-wrap; max-width: 275px;">{{type.event_type_description}}</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:150px;">{{type.primary_color}}</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:150px;">{{type.secondary_color}}</td>
                <td style="width: 150px;">
                  <button type="button" class="btn btn-secondary btn-sm">
                    <div style="text-align:center">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </div>
                  </button>
                  <button  (click)="deleteContactTime(time.contact_timeframe_id)" type="button" class="btn btn-secondary btn-sm">
                    <div style="text-align:center">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="card card-fluid">
      <div class="card-body">
        <span class="form-title">Event Statuses Available For Each Event</span>
        <form (ngSubmit)="addNewReservationService()" novalidate>
          <div [formGroup]="eventStatusForm" class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" formControlName="eventStatusName" class="form-control" placeholder="Status Name*" required>
              </div>
              <div class="col-7">
                <input type="text" formControlName="eventStatusDescription" class="form-control" placeholder="Status Description*" required>
              </div>
              <div class="col">
                <button [disabled]="!eventStatusForm.valid" type="sumbit" class="btn btn-secondary btn-md btn-box-shadow" value="submit">
                  <div style="text-align:center">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="table-responsive table-y-scroll">
            <table class="table table-hover">
              <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Event Status Name</th>
                <th>Event Status Description</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let status of eventStatuses">
                <th>{{status.event_status_id}}</th>
                <td>{{status.event_status_name}}</td>
                <td>{{status.event_status_description}}</td>
                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:250px;">
                  <button type="button" class="btn btn-secondary btn-sm">
                    <div style="text-align:center">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </div>
                  </button>
                  <button (click)="deleteReservationService(status.event_status_id)" type="button" class="btn btn-secondary btn-sm">
                    <div style="text-align:center">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="card card-fluid">
      <div class="card-body">
        <span class="form-title">Event Frequencies Available During Event Creation</span>
        <form (ngSubmit)="addNewStatusCode()" novalidate>
          <div [formGroup]="eventFrequencyForm" class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" formControlName="eventFrequencyName" class="form-control" placeholder="Frequency Name*" required>
              </div>
              <div class="col-7">
                <input type="text" formControlName="eventFrequencyDescription" class="form-control" placeholder="Frequency Description*" required>
              </div>
              <div class="col">
                <button [disabled]="!eventFrequencyForm.valid" type="submit" class="btn btn-secondary btn-md btn-box-shadow">
                  <div style="text-align:center">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="table-responsive table-y-scroll">
            <table class="table table-hover">
              <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Event Frequency</th>
                <th>Event Frequency Description</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let frequency of eventFrequencies">
                <th>{{frequency.event_frequency_id}}</th>
                <td>{{frequency.event_frequency_name}}</td>
                <td>{{frequency.event_frequency_description}}</td>
                <td>
                  <button type="button" class="btn btn-secondary btn-sm">
                    <div style="text-align:center">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </div>
                  </button>
                  <button (click)="deleteStatusCode(status.inquiry_status_id)" type="button" class="btn btn-secondary btn-sm">
                    <div style="text-align:center">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </div>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
