$menage-pink: #fd00fa;
$menage-blue: #016AF7;


/*calendar colors */
$menage-cal-header: rgba(1, 108, 247, 0.459);
$menage-cal-event-color: rgba(1, 108, 247, 0.459);
$menage-cal-event-color-border: rgb(1, 108, 247);
$menage-cal-event-with-end-date: rgba(200, 108, 200, 0.459);
$menage-cal-event-with-end-date-border: rgb(200, 108, 200);