.jumbotron-fluid {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.603);
    padding-left: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.ngb-accordion, .ngb-panel, .ng-template {
    padding-top: 10px;
    margin-top: 10px;
}