.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: .9em;
  font-weight: 100;
  width: 100%
}

.data-cell {
  font-size: .8em;
  font-weight: 100;
  text-align: left;
  padding-right: .5em;
}

.data-header {
  padding-right: .4em;
}

tr.element-row:hover {
  background: #f5f5f5;
}

tr.element-row:active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
  font-size: .8em;
  font-weight: 100;
}

.fa-icon {
  font-size: 1.2em;
  line-height: 1em;
  color: gray;
}

h6 {
  font-weight: 100;
  font-size: 1em;
}
