<div *ngIf="auth.isAuthenticated()">
  <div class="row">
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Gallery Group Type Modal Test</span>
          <button class="form-control btn-secondary" (click)="openNewGalleryGroupTypeModal()">Test</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Delete Confirmation Modal Test</span>
          <button class="form-control btn-secondary" (click)="openDeleteConfirmation()">Test</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Login Modal Test</span>
          <button class="form-control btn-secondary" (click)="openLoginModal()">Test</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Lock Screen Modal Test</span>
          <button class="form-control btn-secondary" (click)="openLockScreenModal()">Test</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Read Message Modal Test</span>
          <button class="form-control btn-secondary" (click)="openReadMessage()">Test</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Send Message Modal Test</span>
          <button class="form-control btn-secondary" (click)="openSendMessage()">Test</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Image Lightbox Test</span>
          <button class="form-control btn-secondary" (click)="openImageLightBox()">Test</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-fluid">
        <div class="card-body">
          <span class="form-title">Error Message Test</span>
          <button class="form-control btn-secondary" (click)="openErrorMessage()">Test</button>
        </div>
      </div>
    </div>
  </div>
</div>
