.bg-light, .breadcrumb {
    background-color: #f8f9fa !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.603);
}