<div>
  <h5>Employment Application Types</h5>
  <form class="application-types-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Application Type Name" value="Waitstaff">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Application Type Description" value="Application for waiters, bartenders, etc.">
    </mat-form-field>
  </form>

  <div class="submit-button-row">
    <button mat-flat-button color="primary">Create New Application Type</button>
  </div>
</div>
<br>
<div>
  <app-application-types></app-application-types>
</div>
<br>
<br>
