.card {
    width: 12rem;
    margin-top: 15px;
    margin-left: -50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.630);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.card-header {
    text-align: center;
}