<div>
  <h5>Employment Arrangement Types</h5>
  <form class="arrangement-types-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Arrangement Type Name" value="Full Time">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Arrangement Type Description" value="Full time employment.">
    </mat-form-field>
  </form>

  <div class="submit-button-row">
    <button mat-flat-button color="primary">Create New Employment Arrangement Type</button>
  </div>
</div>
<br>
<div>
  <app-arrangement-types></app-arrangement-types>
</div>
<br>
<br>
